{% extends 'base.html' %}

{% load tz %}

{% block headline %}<h1>Create new car</h1>{% endblock %}

{% block content %}
    <form action="{% url 'car_ride_create' car.id %}" method="post">
        {% csrf_token %}
        <label>
            from:
            <input type="text" name="address_from"/>
        </label>
        <br />
        <label>
            to:
            <input type="text" name="address_to">
        </label>
        <br />
        <label>
            date time:
            {# TODO set 'now' as default value #}
            <input type="datetime-local" name="date" value="now"/>
        </label>
        <br />
        <input type="submit" value="Create" />
        <a href="{% url 'car_ride_create' car.id %}">Cancel</a>
    </form>
{% endblock %}