{% extends 'base.html' %}
{% load utils_extras %}
{% block headline %}<h1>Rides history</h1>{% endblock headline %}
{% block content %}
    car:
    {{ car.brand }}
    {{ car.model }}
    {{ car.color }}
    {{ car.reg_number }}
    <br/>
    <br/>
    {% if rides %}
        <ul>
            {% for ride in rides %}
                <li>
                    from: {{ ride.fromAddress }}
                    <br/>
                    to: {{ ride.toAddress }}
                    <br/>
                    date: {{ ride.date }}
                    <br/>
                    {% if user|has_group:"Dispatchers" %}
                        <a href="{% url 'ride_delete' ride.id %}">Delete</a>
                    {% endif %}
                </li>
                <br/>
            {% empty %}
                There are no rides for the car
            {% endfor %}
        </ul>
    {%  else %}
        There are no rides for the car
    {% endif %}
    <a href="{%  url 'car_ride_create' car.id %}">Add ride</a>
{%  endblock %}