<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Taxi Service{% endblock title %}</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <style>
        body {
            padding-bottom: 20px;
            padding-top: 70px;
        }
        .messages {
            list-style: none;
        }
    </style>
    {% block css %}{% endblock css %}
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header" >
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            {% load utils_extras %}
            {% if user.is_authenticated %}
                {% if user|has_group:"Admins" %}
                    <a class="navbar-brand" href="{% url 'accounts' %}">Users</a>
                {% endif %}
                {% if user|has_group:"Admins" or user|has_group:"Dispatchers" %}
                    <a class="navbar-brand" href="{% url 'cars' %}">Cars</a>
                {%  endif %}
                {% if user|has_group:"Drivers" %}
                    <a class="navbar-brand" href="{% url 'my_car' %}">Rides History</a>
                {%  endif %}
                <a class="navbar-brand" href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a class="navbar-brand" href="{% url 'login' %}">Login</a>
            {% endif %}


        </div>
        <div class="navbar-collapse collapse">
        </div><!--/.navbar-collapse -->
      </div>
    </div>
    <div class="jumbotron">
        <div class="container">{% block headline %}{% endblock headline %}</div>
    </div>
    <div class="container">
        {% block content %}{% endblock content %}
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    {% block js %}{% endblock js %}
</body>
</html>