{% extends 'base.html' %}
{% load utils_extras %}
{% block headline %}<h1>All users</h1>{% endblock headline %}
{% block content %}
    {% if drivers %}
        <ul>
            {% for driver in drivers %}
                <li>
                    <label>
                        Username: {{ driver.user.username }}
                    </label>
                    <br/>
                        Car:
                        {% if driver.driver %}
                            {{ driver.driver.car.brand }}
                            {{ driver.driver.car.model }}
                            {{ driver.driver.car.color }}
                            {{ driver.driver.car.reg_number }}
                        {% else %}
                            None
                        {% endif %}
                    <br/>
                    <a href="{% url 'driver_edit' driver.user.id %}">Edit</a>
                </li>
                <br/>
            {% endfor %}
        </ul>
    {%  else %}
        No user in 'Drivers' group
    {% endif %}
{%  endblock %}

