{% extends 'base.html' %}

{% block headline %}<h1>All users</h1>{% endblock headline %}
{% block content %}
    <form action="{% url 'driver_edit' cur_user.id %}" method="post">
        {% csrf_token %}
        user :
        {{ cur_user.username }}
        <br/>
        cur car :
        <select name="cars" id="car">
            {% for car in free_cars %}
                <option
                        value="{{ car.id }}"
                        {% ifequal car.id cur_car.id %}
                            selected = "selected"
                        {% endifequal %}
                        >
                    {{ car.brand }} {{ car.model }} {{ car.color }} {{ car.reg_number }}
                </option>
            {% endfor %}
            <option
                    {% if not cur_car %}
                        selected = "selected"
                    {% endif %}
                    >
                None
            </option>
        </select>
        <br/>
        <input type="submit" value="Save" />
        <a href="{% url 'drivers' %}">Cancel</a>
    </form>
{%  endblock %}
