{% extends 'base.html' %}

{% load utils_extras %}

{% block title %}Register | {{ block.super }}{% endblock %}

{% block headline %}<h1>User info</h1>{% endblock %}
{# TODO delete wouble defenition #}
{% block content %}
    username:{{ watching_user.username }}<br />
    email:{{ watching_user.email }}<br />
    roles:

    {% if watching_user|has_group:"Admins" %}
        Admin,
    {% endif %}

    {% if watching_user|has_group:"Drivers" %}
        Driver,
    {% endif %}

    {% if watching_user|has_group:"Dispatchers" %}
        Dispatcher
    {% endif %}
    <br />
    <a href="{% url 'account_edit' watching_user.id %}">Edit</a>
{% endblock %}