{% extends 'base.html' %}
{% block headline %}<h1>All cars</h1>{% endblock headline %}
{% block content %}
    {% if cars_list %}
        <ul>
            {% for car in cars_list %}
                <li>
                    brand:{{ car.brand }}
                    <br/>
                    model:{{ car.model }}
                    <br/>
                    color:{{ car.color }}
                    <br/>
                    reg_number:{{ car.reg_number }}
                    <br/>
                    <a href="{% url 'car_edit' car.id %}">Edit</a>
                    <a href="{% url 'car_delete' car.id %}">Delete</a>
                </li>
                <br/>
            {% empty %}
                There are no cars in taxi
            {% endfor %}
        </ul>
    {%  else %}
        There are no cars in taxi
    {% endif %}
    <br/>
    <br/>
    <a href="{% url 'car_create' %}">Add Car</a>
{%  endblock %}