{% extends 'base.html' %}

{% load utils_extras %}
{% block headline %}<h1>Create new car</h1>{% endblock %}

{% block content %}
    <form action="{% url 'car_create' %}" method="post">
        {% csrf_token %}
        <label>
            brand:
            <input type="text" name="brand" value=""/>
        </label>
        <br />
        <label>
            model:
            <input type="text" name="model" value="">
        </label>
        <br />
        <label>
            color:
            <input type="text" name="color" value="" />
        </label>
        <br />
        <label>
            number:
            <input type="text" name="reg_number" value="" />
        </label>
        <br />
        <input type="submit" value="Create" />
        <a href="{% url 'cars' %}">Cancel</a>
    </form>
{% endblock %}