{% extends 'base.html' %}

{% block title %}Register | {{ block.super }}{% endblock %}
{% load utils_extras %}
{% block headline %}<h1>You want to delete car</h1>{% endblock %}

{% block content %}
    <form action="{% url 'car_delete' car.id %}" method="post">
        {% csrf_token %}
        brand:{{ car.brand }}
        <br/>
        model:{{ car.model }}
        <br/>
        color:{{ car.color }}
        <br/>
        reg_number:{{ car.reg_number }}
        <br/>
        <input type="submit" value="Delete" />
        <a href="{% url 'cars' %}">Cancel</a>
    </form>
{% endblock %}