{% extends 'base.html' %}

{% load utils_extras %}

{% block headline %}<h1>Car info</h1>{% endblock %}

{% block content %}
    {% if car %}
        brand:{{ car.brand }}
        <br/>
        model:{{ car.model }}
        <br/>
        color:{{ car.color }}
        <br/>
        reg_number:{{ car.reg_number }}
        <br/>

        {% if user|has_group:"Admins" %}
            <a href="{% url 'car_edit' car.id %}">Edit</a>
            <a href="{% url 'car_delete' car.id %}">Delete</a>
        {% endif %}
        {% if user|has_group:"Dispatchers" %}
            <a href="{% url 'car_rides' car.id %}">Rides</a>
        {% elif user|has_group:"Drivers" %}
            <a href="{% url 'my_car_rides' car.id %}">Rides</a>
        {% endif %}

    {% else %}
        No information about this car. May be you have not got a car at all.
    {% endif %}
{% endblock %}